:root{
    /* Primary colors */
    --primary-500: hsl(158, 36%, 37%);
    --primary-700: hsl(158, 42%, 18%);

    /* Neutral colors */
    --neutral-black: hsl(212, 21%, 14%);
    --neutral-gray: hsl(228, 12%, 48%);
    --neutral-cream: hsl(30, 38%, 92%);
    --neutral-white: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", serif;
    font-size: 14px;
    background: var(--neutral-cream);
    padding: 30px 16px;
}

img{
    width: 100%;
    height: 100%;
}